################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DnD.Domain/obj
/DnD.Domain/bin/Debug/net7.0
/DnD.Application/obj/Debug/net7.0
/DnD.Application/obj
/DnD.Application/bin/Debug/net7.0
/DnD.Persistence/obj
/DnD.Persistence/bin/Debug/net7.0
/DnD.Common/obj
/DnD.Common/bin/Debug/net7.0
